<% provide(:title, 'Signup') %>

<div class="container">
  <div class="content has-text-centered">
    <h1>Sign Up</h1>
  </div>
  <%= form_with(scope: @user, url: signup_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :name, class: 'label' %>
      <div class="control">
        <%= form.text_field :name, class: 'input' %>  
      </div>   
    </div>
    <div class="field">
      <%= form.label :email, class: 'label' %>
      <div class="control">
        <%= form.email_field :email, class: 'input' %>  
      </div>   
    </div>
    <div class="field">
      <%= form.label :password, class: 'label' %>
      <div class="control">
        <%= form.password_field :password, class: 'input' %>  
      </div>   
    </div>
    <div class="field">
      <%= form.label :password_confirmation, class: 'label' %>
      <div class="control">
        <%= form.password_field :password_confirmation, class: 'input' %>  
      </div>   
    </div>
    <div class="field">
      <div class="control has-text-centered">
        <%= form.button 'Sign Up', class: 'button is-dark' %>  
      </div>   
    </div>
  <% end %>
</div>