<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/csp_js_defaults' %>
    <%= javascript_pack_tag 'navbar.js' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/content' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
